doctype html
html(lang='en')
  head
    title #{site.title}
  body
    h1 Pug - A Node templating engine
    #container.col
      p Pug is a terse and simple templating language with a strong focus on performance and powerful features.
